{% extends 'accounts/accounts_main.html' %}
{% block title %}
  Change Password Page
{% endblock %}

{% block content %}
  <p class="sign" align="center">Change Password</p>
  <form class="form1" method="post" action="{% url 'password_change_url' %}">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <!-- <span>This email or username is already used</span> -->
      {{form.errors}}


    </div>
    {% endif %}
    {{form.password}}
    {{form.new_password1}}
    {{form.new_password2}}
    <button type="submit" name="button" class="submit" align="center">Change</button>
{% endblock %}
